{# app/Resources/views/Emails/registration.html.twig #}

<h3>Commande effecuté avec succès !</h3>

Bonjour,

{# example, assuming you have a route named "login" #}
<p>Votre réservation pour le {{ dateOfBooking|date('d/m/Y') }} sur le site du <a href="http://localhost:8888/web/app_dev.php/museedulouvre.fr"> Musée du Louvre</a> à bien été pris en compte.</p> 

<p>Nous vous souhaitons une agréable visite.</p>



<img src="{{ imageSrc }}" alt="Logo musee">