/*  Layout général */

.reseauxsociaux
{
    position: absolute;
    top: 10px; 
    right: 30px;
}

.btn-twitter, .btn-facebook 
{
    color: #FFFFFF !important; 
    background-color: #000205 !important; 
    border-color: #000205 !important; 
    -moz-border-radius:0px 0;
    -webkit-border-radius:0px 0;
    border-radius:0px 0;
}

html 
{
    height: 100%;
}

body
{
    display : table;
    width: 100%;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5em;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
}

    /* Logo Louvre home */

.topSite
{
    text-align: center;
}

.logoLouvre
{
    width: 350px;
    top: 10px;
}

/* Home page */

    /* Home image */
    
.photoCentral
{
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    height: 482px;
    bottom: 0;  
}
.photomusee 
{
    max-width:149%;
	max-height:100%;
}

/* Booking button */

.btn-booking 
{ 
    color: #FFFFFF; 
    background-color: #000205; 
    border-color: #000205; 
    position : absolute;
    font-family: Georgia, sans-serif;
    font-size: 30px;
    border: none;
    -moz-border-radius:0px 0;
    -webkit-border-radius:0px 0;
    border-radius:0px 0;
  } 
   
  .btn-booking:hover, 
  .btn-booking:focus, 
  .btn-booking:active, 
  .btn-booking.active, 
  .open .dropdown-toggle.btn-booking { 
    color: #FFFFFF; 
    background-color: #000205; 
    border-color: #000205; 
  } 
   
  .btn-booking:active, 
  .btn-booking.active, 
  .open .dropdown-toggle.btn-booking { 
    background-image: none; 
  } 
   
  .btn-booking.disabled, 
  .btn-booking[disabled], 
  fieldset[disabled] .btn-booking, 
  .btn-booking.disabled:hover, 
  .btn-booking[disabled]:hover, 
  fieldset[disabled] .btn-booking:hover, 
  .btn-booking.disabled:focus, 
  .btn-booking[disabled]:focus, 
  fieldset[disabled] .btn-booking:focus, 
  .btn-booking.disabled:active, 
  .btn-booking[disabled]:active, 
  fieldset[disabled] .btn-booking:active, 
  .btn-booking.disabled.active, 
  .btn-booking[disabled].active, 
  fieldset[disabled] .btn-booking.active { 
    background-color: #000205; 
    border-color: #000205; 
  } 
   
  .btn-booking .badge { 
    color: #000205; 
    background-color: #FFFFFF; 
  }

  #bookingButton
  {
    text-align: center;
    bottom: -36em;
    right: 90px;
  }


  /* booking form */

  .well
  {
      background-color: #3c3c3c;
      color: white;
      margin-top: 50px;
      padding-top: 20px;
  }

  .saveButton, .addVisitor, .paymentButton, .removeTag
  {
    font-family: Georgia, sans-serif;
    font-size: 20px;
    border: none;
    -moz-border-radius:0px 0;
    -webkit-border-radius:0px 0;
    border-radius:0px 0;
    color: #FFFFFF; 
    background-color: #000205; 
    border-color: #000205;
  }

  .saveButton
  {
      margin: 15px;
  }
/* Booking form */

  ul li
  {
    list-style: none;
  }

  .visitorForm
  {
      width: 10%;
  }

/* Stripe */

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement 
{
    background-color: white;
    width: 35em !important;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
  
.StripeElement--focus 
{
    box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid 
{
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill 
{
    background-color: #fefde5 !important;
}
  
.paymentButton
{
    margin-top: 15px;
}

#payment-form
{
    position: relative;
    margin-left: 60%;  
    left: -70px;
    top: -150px;
    
}

.recapitulatif_commande
{
    position: relative;
    font-family: Georgia, sans-serif;
    font-size: 1.2em;
    padding-top: 0.5px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 35px;
    right: -400px;
	width:300px;
    height:200px;
    border-color: black;
    background:#3c3c3c;
    color: white;
}
    


.stripe-button
{
    font-family: Georgia, sans-serif !important;
    font-size: 20px !important;
    border: none !important;
    -moz-border-radius:0px 0 !important;
    -webkit-border-radius:0px 0 !important;
    border-radius:0px 0 !important;
    color: #FFFFFF !important; 
    background-color: #000205 !important; 
    border-color: #000205 !important;
}

  /* footer */

  footer
  {
    position: absolute;
    bottom: 0;
    display : table-row;
}

@media only screen and (max-width: 700px) {
    .reseauxsociaux 
    {
        position:relative;
        right: 138px;
        bottom:150px;
    }

    .photomusee 
    {
        padding-top: 30px;
        max-width:100%;
        max-height:100%;
    }

    #bookingButton
    {
      text-align: center;
      bottom: -255px;
      right: 90px;
    }

    .visitorForm
    {
        width: 80%;
    }

    .recapitulatif_commande
    {
        position: relative;
        font-size: 1em;
        right: -23%;
        width:300px;
        height:200px;
    }

    .stripe-button-el
    {
        position: relative;
        font-size: 1em;
        bottom: -180px;
        right: 15%;
    }
}
